<div class="well sidebar">
    <ul class="nav">
        {{#each model as |m|}}
            <li>{{#link-to route}}{{m.text}}{{/link-to}}</li>
            <ul class="nav">
            {{#each m.items as |item|}}
                <li>{{#link-to route}}{{item.text}}{{/link-to}}</li>
            {{/each}}
            </ul>
        {{/each}}
    </ul>
</div>